@{
    ViewData["Title"] = "Berlin Religion Data Tool";
}

<div id="content" class="">

</div>
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Religions over the last years"
	},
	axisX: {
		valueFormatString: "DD MMM YYYY"
	},
	axisY: {
		title: "Number of people",
		prefix: "",
		includeZero: false
	},
	data: [{
		type: "line",
		xValueType: "dateTime",
		xValueFormatString: "DD MM YYYY",
		yValueFormatString: "#,###",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}, {
        type: "line",
		xValueType: "dateTime",
		xValueFormatString: "DD MM YYYY",
		yValueFormatString: "#,###",
        dataPoints: @Html.Raw(ViewBag.DataPoints1)
        }
    ]
});
chart.render();

}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
