@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This Website shows you the amount of participants and subventions for all types of religionclasses in Berlin through the years</p>
<p>You can filter after religion types or after years. You can compare a religiontype between participants and subventions too.</p>

