@{
    ViewData["Title"] = "Berlin Religion Data Tool";
}

<div id="content" class="">
    <script>window.onload = function() {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Irgendwas mit Religion"
                },
                axisY: {
                    title: "Subventions"
                },
                data: [{
                    type: "column",
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
}]
});
chart.render();

}</script>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



</div>

