@{ ViewData["Title"] = "Berlin Religion Data Tool"; var filterType = "DataPoints"; }

<div id="content" class="">

    <div class="CategoryBar" style="background-color: lightblue;">
        <span>
            <button id="participants" onclick=showParticipants()>Teilnehmer</button>
            <button id="subventions" onclick=showSubventions()>Subventionen</button>
            <button id="partsub" onclick=filter('line')>Teilnehmer-Subventionen Vergleich</button>
        </span>
    </div>

    <div id="chartContainer" style=" height: 370px; width: 100%;"></div>


</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
    window.onload = subventions();
    
    function showSubventions() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            toolTip: {
                enabled: true, 
                animationEnabled: true 
            },
            title: {
                text: "Subventions in 2011",
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Subventions",
                includeZero: false,
                maximum: 1000000
            },
            axisX:{
                labelFontSize:9
            },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.Subventions2011)
            }]
        });

        chart.render();
    }

    function showParticipants() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Teilnehmer",
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Participants",
                margin: 25,
                titleFontSize: 18
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: "Evang",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.ParticipantsEvan)
            }, {
                type: "line",
                name: "Kath",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.ParticipantsKath)
            }]
        });

        chart.render();
    }
</script>