@{ ViewData["Title"] = "Berlin Religion Data Tool"; var filterType = "DataPoints"; }

<div id="content" class="">

    <div class="CategoryBar" style="background-color: lightblue;">
        <span>
            <button id="participants" onclick=filter('Participants')>Teilnehmer</button>
            <button id="subventions" onclick=filter('line')>Subventionen</button>
            <button id="partsub" onclick=filter('line')>Teilnehmer-Subventionen Vergleich</button>
        </span>
    </div>

    <div id="chartContainer" style=" height: 370px; width: 100%;"></div>


</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
    window.onload = function() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Irgendwas mit Religion"
            },
            axisY: {
                title: "Subventions"
            },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
            }]
        });

        chart.render();
    }

    function filter(filterType) {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Irgendwas mit Religion"
            },
            axisY: {
                title: "Participants"
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: "Evang",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.ParticipantsEvan)
            }, {
                type: "line",
                name: "Kath",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.ParticipantsKath)
            }]
        });

        chart.render();
    }
</script>